@charset "utf-8";

/* ==================================================
Common CSS
================================================== */

@media(max-width:999px){

/*STYLE*/
.pc {
    display:none;
}

.en {
    font-family:'Jost', sans-serif;
}

.cts {
    width:90%;
}

.titles {
    padding-bottom:20px;
    text-align:center;
}

.titles h2 {
    font-size:200%;
    font-weight:bold;
    line-height:135%;
}

.titles .en {
    font-size:120%;
    font-weight:600;
    color:#009fe8;
    padding-bottom:3px;
}

.titles .line {
    margin:0 auto 7px;
}

.titles .icon {
    width:60px;
    margin:0 auto 10px;
}

.titles .copy {
    font-size:100%;
    font-weight:600;
    padding-top:7px;
}

.triangle_l {
    position:absolute;
    top:0;
    left:0;
    width:300px;
}

.triangle_r {
    position:absolute;
    bottom:0;
    right:0;
    width:500px;
}



/*FIXED CTA*/
.fixed_cta {
    position:fixed;
    top:10px;
    right:10px;
    z-index:9999;
}

.fixed_cta a {
    width:80px;
    height:80px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background:url(../img/cta_bg.svg) center no-repeat;
    background-size:100%;
}

.fixed_cta a img {
    width:35px;
    margin:0 auto 3px;
}

.fixed_cta a p {
    font-size:70%;
    font-weight:600;
    color:#fff;
    text-align:center;
}





/*MV*/
#mv {
    width:100%;
    height:100vh;
    background:#fff;
    overflow:hidden;
}

#mv .cts {
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row-reverse;
    position:relative;
}

#mv h1 {
    position:absolute;
    width:60px;
    top:10px;
    left:10px;
    z-index:1000;
}

#mv .bg {
    width:100%;
    height:100%;
}

#mv .mv_slider {
    width:100%;
    height:90vh;
}

#mv .mv {
}

#mv .mv1 {
    background:url(../img/mv_1_sp.jpg) bottom center;
    background-size:cover;
}

#mv .mv2 {
    background:url(../img/mv_2_sp.jpg) bottom center;
    background-size:cover;
}

#mv .mv3 {
    background:url(../img/mv_3.jpg) center;
    background-size:cover;
}

#mv .copyarea {
    width:400px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:999;
}

#mv .copyarea .bg {
    display:flex;
    align-items:center;
}

#mv .copyarea .bg .bg1 {
    position:absolute;
    top:0;
    left:0;
    width:150px;
    z-index:1000;
}

#mv .copyarea .bg .bg2 {
    position:absolute;
    left:0;
    width:60px;
    z-index:1;
}

#mv .copyarea .bg .bg3 {
    position:absolute;
    bottom:0;
    left:0;
    width:85vw;
}

#mv .copies {
    position:absolute;
    left:0;
    bottom:20px;
    z-index:1000;
}

#mv .copies .jobs {
    display:flex;
    margin-bottom:7px;
    padding-left:12px;
}

#mv .copies .jobs .job {
    margin-right:5px;
}

#mv .copies .jobs .job p {
    background:#004da0;
    color:#fff;
    border:#fff 1px solid;
    font-size:80%;
    font-weight:500;
    line-height:100%;
    padding:6px 10px 8px;
    display:inline-block;
}

#mv .copies .maincopies {
    margin-bottom:10px;
    padding-left:5px;
}

#mv .copies .maincopies .maincopy {
}

#mv .copies .maincopies .maincopy img {
    width:auto;
    height:70px;
}

#mv .copies .maincopies .maincopy1 {

}

#mv .copies .maincopies .maincopy2 {

}

#mv .copies .subcopy {
    font-size:90%;
    font-weight:bold;
    line-height:100%;
    color:#fff;
    padding-left:15px;
}

#mv .triangle_br {
    width:200px;
    position:absolute;
    bottom:0;
    right:0;
    z-index:999;
}

#mv .points {
    position:absolute;
    bottom:20px;
    right:0;
    z-index:1000;
}

#mv .points .point {
    margin-top:8px;
    text-align:right;
}

#mv .points .point p {
    background:#fff;
    display:inline-block;
    font-size:90%;
    font-weight:600;
    line-height:100%;
    padding:6px 10px 8px;
}




/*INTRO*/
#intro {
    padding:50px 0;
    position:relative;
}

#intro .triangle_l {
    width:100px;
}

#intro .triangle_r {
    width:250px;
}

#intro .cts {
    position:relative;
}

#intro .titles h2 {
    font-size:180%;
}

#intro .details {
}

#intro .details .detail {
    width:100%;
    margin-bottom:35px;
}

#intro .details .detail:last-child {
    margin-bottom:0;
}

#intro .details .detail .photo {
    margin-bottom:15px;
}

#intro .details .detail h3 {
    font-size:135%;
    font-weight:600;
    line-height:135%;
    text-align:center;
    padding-bottom:10px;
}

#intro .details .detail .ex {
}





/*ABOUT*/
#about {
    padding:0;
    background:#fff;
    position:relative;
}

#about .bg {
    width:100%;
    height:80vw;
    position:relative;
    top:0;
    left:0;
}

#about .about_slider {
    width:100%;
    height:100%;
    overflow:hidden;
}

#about .bg .photo {
    width:100%;
    height:100%;
}

#about .bg .photo1  {
    background:url(../img/about_1.jpg) center;
    background-size:cover;
}

#about .bg .photo2 {
    background:url(../img/about_2.jpg) center;
    background-size:cover;
}

#about .bg .photo3 {
    background:url(../img/about_3.jpg) center;
    background-size:cover;
}

#about .cts {
}

#about .detail {
    padding:25px 0;
    position:relative;
    z-index:999;
}

#about .detail h3 {
    font-size:160%;
    font-weight:bold;
    line-height:135%;
    color:#004da0;
    padding-bottom:15px;
    text-align:center;
}

#about .detail .tx {
}

#about .copies {
    position:absolute;
    left:15px;
    top:40vw;
    z-index:999;
}

#about .copies .typos {
    margin-bottom:10px;
}

#about .copies .typos .typo {
    margin-top:10px;
}

#about .copies .typos .typo img {
    width:auto;
    height:25px;
}

#about .copies .copy {
    font-size:90%;
    font-weight:bold;
    color:#fff;
}



/*SCENE*/
#scene {
    background:#ebf6fd;
    padding:25px 0;
}





/*FEATURE*/
#feature {
    padding:50px 0;
    position:relative;
}

#feature .triangle_l {
    width:250px;
}

#feature .triangle_r {
    width:150px;
}

#feature .cts {
    width:100%;
}

#feature .features {
    position:relative;
}

#feature .features .feature {
    margin-bottom:50px;
}

#feature .features .feature:last-child {
    margin-bottom:0;
}

#feature .features .feature .photo {
    width:90%;
    height:60vw;
    margin:0 auto 20px;
}

#feature .features .feature .photo1 {
    background:url(../img/feature_1.jpg) center;
    background-size:cover;
}

#feature .features .feature .photo2 {
    background:url(../img/feature_2.jpg) center;
    background-size:cover;
}

#feature .features .feature .photo3 {
    background:url(../img/feature_3.jpg) center;
    background-size:cover;
}

#feature .features .feature .detail {
    width:90%;
    margin:auto;
}

#feature .features .feature .detail .en {
    font-size:350%;
    font-weight:600;
    line-height:100%;
    color:#009fe8;
    padding-bottom:10px;
    text-align:center;
}

#feature .features .feature .detail h3 {
    font-size:145%;
    font-weight:600;
    line-height:145%;
    padding-bottom:10px;
    text-align:center;
}

#feature .features .feature .detail .ex {
}





/*INTERVIEW*/
#interview {
    padding:50px 0 25px;
    background:#e1e1e1;
    position:relative;
}

#interview .triangle_l {
    width:150px;
}

#interview .triangle_r {
    width:200px;
}

#interview .cts {
    position:relative;
}

#interview .tabs {
    display:flex;
    justify-content:center;
}

#interview .tabs .tab {
    font-size:90%;
    font-weight:500;
    line-height:100%;
    background:#c8c8c8;
    color:#fff;
    padding:10px 15px 10px;
    margin:0 5px;
    cursor:pointer;
}

#interview .tabs .tab.on {
    background:#004da0;
    color:#fff;
}

#interview .interviews {
}

#interview .interviews .interview {
    background:#fff;
    padding:25px 25px;
}

#interview .interviews .interview1 {
}

#interview .interviews .interview2 {
    display:none;
}

#interview .interviews .interview3 {
    display:none;
}

#interview .interviews .interview .details {
}

#interview .interviews .interview .details .photos {
    text-align:center;
    margin-bottom:25px;
}

#interview .interviews .interview .details .photos .photo {
    width:100%;
    margin:0 auto 20px;
}

#interview .interviews .interview .details .photos .name {
    font-weight:600;
}

#interview .interviews .interview .details .photos .position {
    font-size:80%;
    color:#aaa;
}

#interview .interviews .interview .details .detail {
    width:100%;
}

#interview .interviews .interview h3 {
    font-size:120%;
    font-weight:bold;
    line-height:145%;
    padding-bottom:25px;
    color:#004da0;
    text-align:center;
}

#interview .interviews .interview .details .detail .messages {
    
}

#interview .interviews .interview .details .detail .messages .message {
    margin-bottom:35px;
}

#interview .interviews .interview .details .detail .messages .message:last-child {
    margin-bottom:0;
}

#interview .interviews .interview .details .detail .messages .message h4 {
    margin-bottom:10px;
}

#interview .interviews .interview .details .detail .messages .message h4 span {
    border-left:#009fe8 5px solid;
    padding:5px 0 5px 10px;
    font-weight:600;
    line-height:100%;
    display:inline-block;
}

#interview .interviews .interview .details .detail .messages .message .tx {
}





/*PROCESS*/
#process {
    padding:50px 0 25px;
    position:relative;
}

#process .triangle_l {
    width:120px;
}

#process .triangle_r {
    width:250px;
}

#process .cts {
    position:relative;
}

#process .steps {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    position:relative;
}

#process .steps .step {
    width:100%;
    position:relative;
    background:#fff;
    border-bottom:#c8c8c8 1px solid;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px 0;
}

#process .steps .step:first-child {
    border-top:#c8c8c8 1px solid;
}

#process .steps .step:last-child {
    margin-bottom:0;
}

#process .steps .step .en {
    font-size:125%;
    font-weight:600;
    text-align:center;
    color:#009fe8;
    margin-right:15px;
}

#process .steps .step .illust {
    width:90px;
    height:90px;
    margin-right:20px;
}

#process .steps .step .illust img {
}

#process .steps .step .detail {
    width:150px;
}

#process .steps .step .detail .status {
    font-weight:600;
}

#process .steps .step .detail .tx {
    font-size:80%;
}




/*FAQ*/
#faq {
    padding:50px 0;
    position:relative;
}

#faq .triangle_l {
    width:150px;
}

#faq .triangle_r {
    width:250px;
}

#faq .cts {
    width:90%;
    position:relative;
}

#faq .faqs {
}

#faq .faqs .faq {
    margin-bottom:35px;
}

#faq .faqs .faq:last-child {
    margin-bottom:0;
}

#faq .faqs .faq .question {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

#faq .faqs .faq .question .item {
    width:40px;
    height:40px;
    color:#004da0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:110%;
    font-weight:600;
    text-align:center;
}

#faq .faqs .faq .question h3 {
    width:calc(100% - 40px);
    font-size:100%;
    font-weight:600;
    line-height:135%;
    color:#004da0;
    border-left:#c8c8c8 1px solid;
    padding-left:15px;
}

#faq .faqs .faq .answer {
    display:flex;
    justify-content:space-between;
}

#faq .faqs .faq .answer .item {
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:110%;
    font-weight:600;
    text-align:center;
}

#faq .faqs .faq .answer .tx {
    width:calc(100% - 40px);
    border-left:#c8c8c8 1px solid;
    padding-left:15px;
}




/*CTA*/
.cta {
    width:100%;
    padding:0;
    background:#004da0;
    overflow:hidden;
}

.cta .cts {
    width:90%;
    position:relative;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px 0;
}

.cta .blank {
    display:none;
}

.cta .photos {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.cta .photos .bg {
    width:90vw;
    position:absolute;
}

.cta .photos .photo {
    width:60%;
    position:relative;
}

.cta .copies {

}

.cta .copies .subcopy {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:10px;
}

.cta .copies .subcopy p {
    font-size:80%;
    line-height:100%;
    border:#fff 1px solid;
    color:#fff;
    padding:8px 12px;
    margin:0 5px;
    position:relative;
}

.cta .copies .maincopy {
    font-size:125%;
    font-weight:bold;
    line-height:135%;
    padding-bottom:15px;
    color:#fff;
    position:relative;
}

.cta .cta_btn {
    width:100%;
    display:inline-block;
    animation:cta 1s infinite alternate;
    -webkit-animation:cta 1s infinite alternate;
}

.cta .cta_btn a {
    width:100%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background:url(../img/cta_btn_bg.png) center no-repeat;
    background-size:100% 100%;
    padding:20px 0;
}

.cta .cta_btn a p {
    font-size:135%;
    font-weight:600;
    line-height:100%;
    color:#fff;
}

.cta .cta_btn a .arrow {
    width:15px;
    height:15px;
    border-top:#fff 2px solid;
    border-right:#fff 2px solid;
    transform:rotate(45deg);
    position:absolute;
    right:40px;
}





/*ENTRY*/
#entry {
    padding:50px 0 30px;
    position:relative;
    background:#ebf6fd;
}

#entry .triangle_l {
    width:120px;
}

#entry .triangle_r {
    width:200px;
}

#entry .cts {
}

#entry .titles {
    padding-bottom:15px;
}

#entry .titles .icon {
    width:50px;
    margin:0 auto 10px;
}

#entry .entry_form {
    position:relative;
    background:#fff;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
}

#entry .entry_form .entry_cts {
    padding:25px 25px 25px;
    text-align:center;
}

#entry .entry_form .entry_cts .q {
    font-size:350%;
    font-weight:500;
    line-height:100%;
    color:#c8c8c8;
    padding-bottom:10px;
    font-family:'Jost', sans-serif;
}

#entry .entry_form .entry_cts .question {
    font-size:150%;
    font-weight:600;
    line-height:135%;
}

#entry .entry_form .entry_cts .attention {
    font-size:80%;
    font-weight:400;
}

#entry .entry_form .entry_cts form {
    margin-top:15px;
}



/*ENTRY STEP COLUMN5*/
#entry .entry_form .steps.column5 .step {
    width:20%;
    padding-left:10px;
}

#entry .entry_form .steps.column5 .step:first-child {
    width:17.5%;
    padding-left:10px;
}

#entry .entry_form .steps.column5 .step:last-child {
    width:22.5%;
}



/*ENTRY STEP COLUMN6*/
#entry .entry_form .steps.column6 .step {
    width:16.5%;
    padding-left:10px;
}

#entry .entry_form .steps.column6 .step:first-child {
    width:16.5%;
    padding-left:10px;
}

#entry .entry_form .steps.column6 .step:last-child {
    width:17.5%;
}



/*ENTRY STEP COMMON*/
#entry .entry_form .steps {
    display:flex;
}

#entry .entry_form .steps .step {
    height:50px;
    background:linear-gradient(to right,#004da0,#00398c);
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
}

#entry .entry_form .steps .step.now {
    background:#009fe8;
}

#entry .entry_form .steps .step.past {
    background:linear-gradient(to right,#414141,#323232);
}

#entry .entry_form .steps .step:after {
    content:"";
    border-top:transparent 25px solid;
    border-right:transparent 10px solid;
    border-bottom:transparent 25px solid;
    border-left:#00398c 10px solid;
    position:absolute;
    top:0;
    right:-20px;
    z-index:1;
}

#entry .entry_form .steps .step.now:after {
    content:"";
    border-top:transparent 25px solid;
    border-right:transparent 10px solid;
    border-bottom:transparent 25px solid;
    border-left:#009fe8 10px solid;
    position:absolute;
    top:0;
    right:-20px;
    z-index:1;
}

#entry .entry_form .steps .step.past:after {
    content:"";
    border-top:transparent 25px solid;
    border-right:transparent 10px solid;
    border-bottom:transparent 25px solid;
    border-left:#323232 10px solid;
    position:absolute;
    top:0;
    right:-20px;
    z-index:1;
}

#entry .entry_form .steps .step:last-child:after {
display:none;
}

#entry .entry_form .steps .step p {
    line-height:100%;
    text-align:center;
    color:#fff;
}

#entry .entry_form .steps .step p:first-child {
    font-size:100%;
    padding-bottom:7px;
}

#entry .entry_form .steps .step p:last-child {
    font-size:50%;
}



/*ENTRY STATUS*/
#entry.entry_status .answer {
    display:flex;
    justify-content:center;
}

#entry.entry_status label {
    border:#004da0 3px solid;
    color:#004da0;
    padding:15px;
    display:block;
    cursor:pointer;
    font-size:120%;
    font-weight:600;
    margin:0 7px;
    width:120px;
}



/*ENTRY JOB*/
#entry.entry_job .answer {
}

#entry.entry_job .answer p {
    margin-bottom:15px;
}

#entry.entry_job .answer p:last-child {
    margin-bottom:0;
}

#entry.entry_job label {
    border:#004da0 3px solid;
    color:#004da0;
    padding:15px;
    display:block;
    cursor:pointer;
    font-size:110%;
    font-weight:600;
    margin:0 7px;
    width:100%;
}



/*ENTRY EMPLOYMENT*/
#entry.entry_employment .answer {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#entry.entry_employment .answer p {
    width:48%;
    margin:0 4% 15px 0;
}

#entry.entry_employment .answer p:nth-child(odd) {
    margin-right:0;
}

#entry.entry_employment .answer p:nth-child(n+4) {
    margin-bottom:0;
}

#entry.entry_employment label {
    border:#000 3px solid;
    color:#000;
    padding:15px;
    display:block;
    cursor:pointer;
    border-radius:10px;
    font-size:120%;
    font-weight:600;
}



/*ENTRY AREA*/
#entry.entry_area .answer {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#entry.entry_area .answer p {
    width:48%;
    margin:0 4% 15px 0;
}

#entry.entry_area .answer p:nth-child(odd) {
    margin-right:0;
}

#entry.entry_area .answer p:nth-child(n+4) {
    margin-bottom:0;
}

#entry.entry_area label {
    border:#000 3px solid;
    color:#000;
    padding:15px;
    display:block;
    cursor:pointer;
    border-radius:10px;
    font-size:120%;
    font-weight:600;
}



/*ENTRY AGE*/
#entry.entry_age {
}

#entry.entry_age .detail_cts {
    display:flex;
    justify-content:center;
    align-items:center;
}

#entry.entry_age .detail_cts p:last-child {
    padding-left:10px;
    font-size:120%;
    font-weight:500;
}

#entry.entry_age .style_age {
    width:150px;
    font-size:120%;
    font-weight:600;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
    margin:0 7px;
    display:block;
    cursor:pointer;
}



/*ENTRY NAME*/
#entry.entry_name {
}

#entry.entry_name .forms .form {
    width:100%;
    margin-top:15px;
}

#entry.entry_name .forms .form:first-child {
    margin-top:0;
}

#entry.entry_name .forms .form .item {
    font-size:120%;
    font-weight:500;
    padding-bottom:7px;
    text-align:left;
}

#entry.entry_name .forms .form .detail {
    width:100%;
}

#entry.entry_name .forms .form .detail .detail_cts {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#entry.entry_name .forms .form .detail .detail_cts p {
    width:48.5%;
}

#entry.entry_name .style_name {
    width:100%;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
    font-size:120%;
    font-weight:600;
}

#entry.entry_name .style_kana {
    width:100%;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
    font-size:120%;
    font-weight:600;
}



/*ENTRY CONTACT*/
#entry.entry_contact {
}

#entry.entry_contact .forms .form {
    width:100%;
    margin-bottom:15px;
}

#entry.entry_contact .forms .form .item {
    font-size:120%;
    font-weight:500;
    padding-bottom:7px;
    text-align:left;
}

#entry.entry_contact .forms .form .detail {
    width:100%;
}

#entry.entry_contact .style_tel {
    width:100%;
    font-size:120%;
    font-weight:600;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
}

#entry.entry_contact .style_mail {
    width:100%;
    font-size:120%;
    font-weight:600;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
}



/*ENTRY TEL*/
#entry.entry_tel {
}

#entry.entry_tel .forms .form {
    width:100%;
}

#entry.entry_tel .forms .form .item {
    font-size:120%;
    font-weight:500;
    padding-bottom:7px;
    text-align:left;
}

#entry.entry_tel .forms .form .detail {
    width:100%;
}

#entry.entry_tel .style_tel {
    width:100%;
    font-size:120%;
    font-weight:600;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
}



/*ENTRY MAIL*/
#entry.entry_mail {
}

#entry.entry_mail .forms .form {
    width:100%;
}

#entry.entry_mail .forms .form .item {
    font-size:120%;
    font-weight:500;
    padding-bottom:7px;
    text-align:left;
}

#entry.entry_mail .forms .form .detail {
    width:100%;
}

#entry.entry_mail .style_mail {
    width:100%;
    font-size:120%;
    font-weight:600;
    color:#004da0;
    border:#004da0 3px solid;
    padding:15px 20px;
}


/*ENTRY CONSENT*/
#entry.entry_consent {
}

#entry.entry_consent .detail {
}

#entry.entry_consent .detail .caution {
}


/*ENTRY SEX*/
#entry.entry_sex .answer {
    display:flex;
    justify-content:center;
}

#entry.entry_sex label {
    border:#000 3px solid;
    color:#000;
    padding:20px;
    display:block;
    cursor:pointer;
    border-radius:10px;
    font-size:120%;
    font-weight:600;
    margin:0 7px;
    width:80px;
}


/*ENTRY PREFECTURE*/
#entry.entry_prefecture {
}

#entry.entry_prefecture .detail_cts {
    display:flex;
    justify-content:center;
    align-items:center;
}

#entry.entry_prefecture .style_prefecture {
    width:100%;
    font-size:120%;
    font-weight:600;
    color:#000;
    border:#000 3px solid;
    padding:15px 20px;
    border-radius:10px;
    margin:0 7px;
    display:block;
    cursor:pointer;
}


/*ENTRY QUALIFIED*/
#entry.entry_qualified .answer {
    display:flex;
    justify-content:center;
}

#entry.entry_qualified label {
    border:#000 3px solid;
    color:#000;
    padding:20px;
    display:block;
    cursor:pointer;
    border-radius:10px;
    font-size:120%;
    font-weight:600;
    margin:0 7px;
    width:150px;
}




/*ENTRY CONFIRM*/
#entry.confirm {
}

#entry.confirm .entry_form .entry_cts {
    padding:25px 25px 25px;
    text-align:left;
}

#entry.confirm .entry_form .entry_cts .copy {
    font-size:110%;
    font-weight:600;
    text-align:center;
}

#entry.confirm .confirmations {
}

#entry.confirm .confirmations .confirmation {
    border-bottom:#e1e1e1 1px solid;
    padding:20px 0;
}

#entry.confirm .confirmations .confirmation:first-child {
    border-top:#e1e1e1 1px solid;
}

#entry.confirm .confirmations .confirmation .item {
    font-size:100%;
    font-weight:500;
}

#entry.confirm .confirmations .confirmation .ex {
    font-size:120%;
    font-weight:bold;
    line-height:100%;
    color:#004da0;
    margin-top:5px;
}



/*PRIVACY POLICY*/
#entry.confirm .privacy_policy {
    padding:15px 0 0;
}

#entry.confirm .privacy_policy .item {
    font-size:100%;
    font-weight:600;
}

#entry.confirm .privacy_policy .tx {
    font-size:90%;
    padding-bottom:15px;
}

#entry.confirm .privacy_policy .privacies {
    width:100%;
    height:190px;
    overflow:scroll;
    border:#e1e1e1 1px solid;
    padding:15px 20px;
}

#entry.confirm .privacy_policy .privacies .privacy {
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:#e1e1e1 1px dashed;
}

#entry.confirm .privacy_policy .privacies .privacy:last-child {
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:none;
}

#entry.confirm .privacy_policy .privacies .privacy .privacy_item {
    font-size:80%;
    font-weight:bold;
}

#entry.confirm .privacy_policy .privacies .privacy .ex {
    font-size:80%;
}

#entry.confirm .privacy_policy .privacies .privacy li {
    font-size:80%;
}

#entry.confirm .privacy_policy .privacies .privacy .contact {
    font-size:80%;
    padding-top:10px;
}



/*ENTRY FINISH*/
#entry.thanks {
}

#entry.thanks .entry_form .entry_cts {
    padding:30px 30px 30px;
}

#entry.thanks h3 {
    font-size:200%;
    font-weight:bold;
    padding-bottom:25px;
    color:#004da0;
}

#entry.thanks .ex {
    font-size:100%;
    font-weight:500;
    padding-bottom:25px;
}

#entry.thanks .attention {
    font-size:80%;
    display:flex;
}

#entry.thanks .backbtn {
    margin-top:50px;
    text-align:center;
}

#entry.thanks .backbtn .btn {
    display:inline-block;
}

#entry.thanks .backbtn .btn a {
    display:flex;
    justify-content:center;
    align-items:center;
    border:#004da0 1px solid;
    padding:10px 20px;
}

#entry.thanks .backbtn .btn a p {
    font-weight:500;
    color:#004da0;
    padding-left:10px;
}

#entry.thanks .backbtn .btn a .arrow {
    width:10px;
    height:10px;
    border-top:#004da0 1px solid;
    border-right:#004da0 1px solid;
    transform:rotate(-135deg);
}



/*ENTRY BTN*/
#entry .btns {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
    
#entry .btns btn {
    margin:0 7px;
}
    
#entry input[type="radio"],
#entry input[type="checkbox"] {
visibility:hidden;
position:absolute;
}

#entry .warning {
font-size:90%;
font-weight:600;
color:#db3535;
margin:10px auto 15px;
display:block;
border:none;
padding:0;
text-align:center;
}

#entry label:hover {
}

#entry input[type="radio"]:checked + label {
    background:#004da0;
    color:#fff;
}

#entry input[type="checkbox"]:checked + label {
    background:#004da0;
    color:#fff;
}

#entry input[type="submit"] {
cursor:pointer;
}

#entry input[type="submit"]:hover {
-webkit-animation:hover 0.5s ease forwards;
animation:hover 0.5s ease forwards;
}

#entry .style_fix {
font-size:90%;
font-weight:500;
padding:10px 20px;
background:#717071;
color:#fff;
border:none;
border-radius:5px;
margin-right:20px;
cursor:pointer;
}

#entry .style_fix:hover {
-webkit-animation:hover 0.5s ease forwards;
animation:hover 0.5s ease forwards;
}

#entry .style_submit {
font-size:110%;
font-weight:600;
padding:12px 30px;
background:#fff;
border:none;
background:#db3535;
color:#fff;
border-radius:5px;
}






/*BACK TO TOP*/
.BackToTop {
position:fixed;
width:40px;
height:40px;
right:15px;
bottom:15px;
z-index:100;
display:none;
}



/*FOOTER*/
footer {
padding:30px 0 15px;
background:#1e1e1e;
}

footer .infos {
    padding-bottom:30px;
}

footer .infos .logo {
    width:80px;
    margin:0 auto 20px;
}

footer .infos .info {
    text-align:center;
}

footer .infos .info .company {
    font-size:90%;
    font-weight:bold;
    color:#fff;
    padding-bottom:5px;
}

footer .infos .info .address {
    font-size:80%;
    color:#fff;
}

footer .copyright {
font-size:60%;
text-align:center;
color:#595757;
}

















}